/* Fondo de formas curvas coloridas */
.background-curves {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: -1;
  background: linear-gradient(135deg, #f2d4bc 25%, #f5f5ef 25%, #f5f5ef 50%, #c4d6b7 50%, #c4d6b7 75%, #f2d4bc 75%);
  clip-path: polygon(0 0, 100% 0, 100% 80%, 0 100%);
}

/* Estilo para el contenedor principal */
.container {
  display: flex;
  justify-content: space-between;
  padding: 20px;
  background-color: rgba(255, 255, 255, 0.8);
  border-radius: 10px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  max-width: 1000px;
  margin: 50px auto;
  position: relative;
}

/* Columnas para distribuir el contenido */
.column {
  flex: 1;
  padding: 20px;
}

/* Estilo específico para cada columna */
.left-column {
  text-align: left;
}

.right-column {
  text-align: right;
}

/* Fondo circular para la foto */
.profile-photo-container {
  width: 276px;
  height: 276px;
  background-color: #91eee1;
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-bottom: 20px;
}

.profile-photo {
  width: 276px;
  height: 276px;
  border-radius: 50%;
  object-fit: cover;
  transform: scaleX(-1), rotate(8.9deg);
}

/* Títulos y subtítulos en mayúsculas */
h1, h2, h3 {
  font-family: 'League Gothic', sans-serif;
  /*letter-spacing: 0.5px;*/
  text-transform: uppercase;
}
/* Estilos para el nombre en tres líneas */
.name {
  text-align: right; /* Alineado a la derecha */
  margin-bottom: 0; /* Eliminar margen inferior */
  font-family: 'League Gothic', sans-serif;
}

.name-line {
  font-size: 60px;
  letter-spacing: 40px; /* Ajustar el espaciado entre letras */
  display: block; /* Cada línea del nombre se comporta como bloque */
  font-family: 'League Gothic', sans-serif;
  line-height: 1.2; /* Ajuste de altura de línea */
  margin: 0; /* Sin márgenes entre líneas */
}

/* Estilo para evitar margen en "Data Analyst" */
.no-margin {
  margin-top: 0; /* Eliminar espacio entre nombre y título */
  font-size: 30px;
  color: #c7998c; /* Color personalizado para "Data Analyst" */
  letter-spacing: 15px; /* Ajustar el espaciado entre letras */
  text-align: right; /* Alineación a la derecha */
  margin-bottom: 15px;
  font-family: 'League Gothic', sans-serif;
}
h1 {
  font-size: 60px;
  margin-bottom: 0px;
  line-height: 1;
  letter-spacing: 40px;
}

h2 {
  font-size: 30px;
  margin-top: 0; /* Evitar espacio entre el nombre y el título */
  margin-bottom: 15px;
  color: #c7998c; /* Color personalizado para "Data Analyst" */
  letter-spacing: 15px;
}

h3 {
  font-size: 22px;
  margin-bottom: 0px;
}

/* Aplicar Josefin Sans al cuerpo de texto y subtítulos secundarios */
body, p, .contact-info p {
  font-family: 'Josefin Sans', sans-serif;
  font-size: 16px;
  margin-top: 0; /* Evitar espacio entre el nombre y el título */
  margin-bottom: 0px;
  line-height: 1.3;
}

.chart-container {
  width: 300px;
  margin: 0 auto;
}

#skill-details {
  margin-top: 20px;
  font-size: 16px;
  color: #333;
}

.contact-info {
  margin-top: 5px;
}

@media (max-width: 768px) {
  .container {
    flex-direction: column;
  }

  .right-column, .left-column {
    text-align: center;
  }
}