/* Estilo para el contenedor principal */
.container {
  display: flex;
  justify-content: space-between;
  padding: 20px;
  background-color: white;
  border-radius: 10px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  max-width: 1000px;
  margin: 0 auto;
}

/* Columnas para distribuir el contenido */
.column {
  flex: 1;
  padding: 20px;
}

/* Estilo específico para cada columna */
.left-column {
  text-align: left;
}

.right-column {
  text-align: right;
}

/* Estilo para el contenedor de la foto de perfil */
.profile-photo-container {
  width: 160px;
  height: 160px;
  background-color: #91eee1;
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-bottom: 20px;
}

/* Estilo para la foto dentro del contenedor circular */
.profile-photo {
  width: 140px;
  height: 140px;
  border-radius: 50%;
  object-fit: cover;
}

/* Aplicar la fuente League Gothic a los títulos y subtítulos en mayúsculas */
h1, h2, h3 {
  font-family: 'League Gothic', sans-serif;
  letter-spacing: 0.5px;
  text-transform: uppercase; /* Mayúsculas */
}

/* Aplicar Kollektif al cuerpo de texto y subtítulos secundarios */
body, p, .contact-info p {
  font-family: 'Kollektif', sans-serif;
  font-size: 16px;
  line-height: 1.6;
}

h1 {
  font-size: 32px;
  margin-bottom: 10px;
}

h2 {
  font-size: 24px;
  margin-bottom: 15px;
}

h3 {
  font-size: 18px;
  margin-bottom: 10px;
}

.chart-container {
  width: 300px;
  margin: 0 auto;
}

#skill-details {
  margin-top: 20px;
  font-size: 16px;
  color: #333;
}

.contact-info {
  margin-top: 20px;
}

/* Hacer que el diseño sea responsive */
@media (max-width: 768px) {
  .container {
    flex-direction: column;
  }

  .right-column, .left-column {
    text-align: center;
  }
}
