/* Importar Kollektif usando @font-face */
@font-face {
  font-family: 'Kollektif';
  src: url('fonts/Kollektif.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}

/* Aplicar League Gothic a los títulos y subtítulos */
h1, h2, h3 {
  font-family: 'League Gothic', sans-serif;
  letter-spacing: 0.5px;
}

/* Aplicar Kollektif al cuerpo de texto y subtítulos secundarios */
body, p, .contact-info p {
  font-family: 'Kollektif', sans-serif;
  font-size: 16px;
  line-height: 1.6;
}

h1 {
  font-size: 32px;
  margin-bottom: 10px;
}

h2 {
  font-size: 24px;
  margin-bottom: 15px;
}

.chart-container {
  width: 300px;
  margin: 0 auto;
}

#skill-details {
  margin-top: 20px;
  font-size: 16px;
  color: #333;
}

.contact-info {
  margin-top: 20px;
}

.contact-info h3 {
  margin-bottom: 10px;
}
